<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
<booleanAttribute key="append.args" value="true"/>
<stringAttribute key="application" value="com.subgraph.vega.application.application"/>
<booleanAttribute key="askclear" value="true"/>
<booleanAttribute key="automaticAdd" value="false"/>
<booleanAttribute key="clearws" value="false"/>
<booleanAttribute key="clearwslog" value="false"/>
<booleanAttribute key="default" value="false"/>
<stringAttribute key="location" value="${workspace_loc}/../runtime-vega.product"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms256m -XX:PermSize=128m -XX:MaxPermSize=256m -Xmx2048m"/>
<stringAttribute key="pde.version" value="3.2a"/>
<stringAttribute key="product" value="com.subgraph.vega.application.product"/>
<stringAttribute key="productFile" value="/vega-Java2/platform/com.subgraph.vega.application/vega.product"/>
<stringAttribute key="selected_target_plugins" value=""/>
<stringAttribute key="selected_workspace_plugins" value=""/>
<booleanAttribute key="useDefaultConfig" value="true"/>
<booleanAttribute key="useProduct" value="true"/>
<booleanAttribute key="usefeatures" value="false"/>
</launchConfiguration>
